.navigation {
    width: 99vw;
    border: 1px solid darkblue;
    background-color: beige;
    border-radius: 15px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    height: 50px;
    justify-content: space-evenly;
    align-items: center;
}
a {
    text-decoration: none;
    color: darkblue;
    
}
.header {
    margin-top: 80px;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    color: darkblue;
}
.food-item {
    border: 1px solid blanchedalmond;
    width: 300px;
    padding: 20px;
    height: 200px;
    background-color: beige;
    border-radius: 7px;
    text-align: center;
    color: darkblue;
}
img {
    width: 260px;
    height: 180px;
}
.food-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer {
    border: 1px solid darkblue;
    background-color: beige;
    margin-top: 20px;
    height: 100px;
    border-radius: 7px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: darkblue;
}
body {
    background-color: blanchedalmond;
}
@media screen and (max-width: 800px) {
    body {
        background-color: gray;
        color: black;
    }
}